#background-edit{
    background: url("../../../resource/bootstrap/image/back1.jpg");
    background-position: bottom center;
    height: 740px;
}
.background-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
}
.index_content{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold ;
    margin-top: 179px;
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    color: wheat;
}
.navbar-nav li  a:hover{
    color: white;
    background: #193641;
}